

router.get('/', (req, res, next) => {
    // GET request handling
});

router.post('/', (req, res, next) => {
    // POST request handling
});

router.update('/', (req, res, next) => {
    // UPDATE request handling
});

router.delete('/', (req, res, next) => {
    // DELETE request handling
});
